[submodule "csrc/cutlass"]
	path = csrc/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "csrc/composable_kernel"]
	path = csrc/composable_kernel
	url = https://github.com/qiangpan2/composable_kernel.git
	branch = fa_test
